html, body {
    margin: 0 !important;
    padding: 0 !important;
}
.alertBanner {
    background-color: rgb(43, 42, 42);
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    font-size: 13px;
    margin-top: 0 !important;
}

.card {
    border: none !important;
    box-shadow: none !important;

}

.title {
    color: rgb(65, 64, 64);
    
}

#links { 
    color: red;
    font-size: 36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 50%;  
    bottom: 45%;
    text-align: center;
    
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#searchInput {
    border: none;
}

#items {
    color: black
}

#shoppingBag {
    color: black !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
    display: none;
}
select.select {
    padding: 7px 11px 7px 11px !important;
}